@model List<Carro>

@{
    ViewData["Title"] = "Index";
}



<msg texto="@TempData["msg"]"></msg>

<h1>Index</h1>
<a asp-action="cadastrar">Cadastrar Carro</a>
<table class="table">
    <tr>
        <th>Código</th>
        <th>Modelo</th>
        <th>Data Entrada</th>
        <th>Novo</th>
        <th>Combustível</th>
        <th>Ano</th>
        <th>Fabricante</th>
        <th></th>
    </tr>
    @foreach (var carro in Model)
    {
        <partial name="_Linha" model="@carro" />
    }
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Deseja realmente excluir o carro?
            </div>
            <div class="modal-footer">
                <form asp-action="remover">
                    <input type="hidden" name="id" id="carroId" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-danger">Sim</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Banner {

    <div class="alert alert-warning">
        Propaganda
    </div>

}
